.darkBg{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.changePic{
    background-color: white;
    border-radius: 10px;
}
.changePic div{
    padding: 10px 80px;
}
.uploadbtn{
    background: none;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}